<?xml version="1.0"?>
<config>
  <modules>
    <PineLabs_PinePG>
      <version>0.1.2</version>
    </PineLabs_PinePG>
  </modules>
  <global>
    <models>
      <PinePG>
        <class>PineLabs_PinePG_Model</class>
      </PinePG>
    </models>
    <helpers>
      <PinePG>
        <class>PineLabs_PinePG_Helper</class>
      </PinePG>
    </helpers>
    <blocks>
      <PinePG>
        <class>PineLabs_PinePG_Block</class>
      </PinePG>
    </blocks>
    <fieldsets>
             <sales_convert_quote_payment>
                <PinePG_payment_method>
                    <to_order_payment>*</to_order_payment>
                </PinePG_payment_method>
                <PinePG_bank_name>
                    <to_order_payment>*</to_order_payment>
                </PinePG_bank_name>
                <PinePG_emi_months>
                    <to_order_payment>*</to_order_payment>
                </PinePG_emi_months>
             </sales_convert_quote_payment>
    </fieldsets>
    <resources>
        <PinePG_setup>
            <setup>
                <module>PineLabs_PinePG</module>
                <class>PineLabs_PinePG_Model_Mysql4_Setup</class>
            </setup>
        </PinePG_setup>
    </resources>
  </global>
  <default>
    <payment>
      <PinePG>
        <model>PinePG/standard</model>
        <active>0</active>
        <order_status>pending</order_status>
        <title>PinePG</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </PinePG>
    </payment>
  </default>
  <frontend>
    <routers>
      <PinePG>
        <use>standard</use>
        <args>
          <module>PineLabs_PinePG</module>
          <frontName>PinePG</frontName>
        </args>
      </PinePG>
    </routers>
  </frontend>
</config>
