<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <PinePG translate="label comment" module="PinePG">
          <label>PinePG</label>
          <frontend_type>text</frontend_type>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </active>
            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            
            <ppc_MerchantID translate="label">
              <label>Merchant Id</label>
              <frontend_type>text</frontend_type>
              <sort_order>22</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </ppc_MerchantID>
            <ppc_MerchantAccessCode translate="label">
              <label>Merchant Access Code</label>
              <frontend_type>text</frontend_type>
              <sort_order>23</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </ppc_MerchantAccessCode>
            <ppc_NavigationMode translate="label">
              <label>Navigation Mode</label>
              <frontend_type>text</frontend_type>
              <sort_order>24</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </ppc_NavigationMode>
            <ppc_LPC_SEQ translate="label">
              <label>LPC SEQ Value</label>
              <frontend_type>text</frontend_type>
              <sort_order>25</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </ppc_LPC_SEQ>
           <secret_key translate="label">
              <label>Secret Key</label>
              <frontend_type>text</frontend_type>
              <sort_order>23</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </secret_key>
            <ppc_PayModeOnLandingPage  translate="label">
              <label>Pay Mode On Landing Page</label>
              <frontend_type>text</frontend_type>
              <sort_order>27</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </ppc_PayModeOnLandingPage>
            <trans_mode translate="label">
              <label>Transaction Mode</label>
              <frontend_type>select</frontend_type>
			  <source_model>PinePG/source_DemoModes</source_model>
              <sort_order>28</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </trans_mode>
            <!-- <payment_methods translate="label">
              <label>Allowed payment methods</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>PinePG/system_config_source_payment_methods</source_model>
              <sort_order>29</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </payment_methods>
            <emi_bank_names translate="label">
              <label>Allowed banks for EMI</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>PinePG/system_config_source_payment_bank_names</source_model>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Will applicable only if credit card EMI is enabled</comment>
            </emi_bank_names>
            <net_bank_names translate="label">
              <label>Allowed banks for Net banking</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>PinePG/system_config_source_payment_bank_names</source_model>
              <sort_order>31</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Will applicable only if NET banking is enabled</comment>
            </net_bank_names> -->
            <order_status translate="label">
              <label>New Order Status</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status_newprocessing</source_model>
              <sort_order>50</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </order_status>
            <allowspecific translate="label">
              <label>Payment Applicable From</label>
              <frontend_type>select</frontend_type>
              <sort_order>61</sort_order>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </allowspecific>
            <specificcountry translate="label">
              <label>Countries Payment Applicable From</label>
              <frontend_type>multiselect</frontend_type>
              <sort_order>70</sort_order>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <depends>
                <allowspecific>1</allowspecific>
              </depends>
            </specificcountry>
            <debug translate="label">
              <label>Debug Mode</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>71</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </debug>
            <sort_order translate="label">
              <label>Sort Order</label>
              <frontend_type>text</frontend_type>
			  <sort_order>100</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </sort_order>
          </fields>
        </PinePG>
      </groups>
    </payment>
  </sections>
</config>
